.form__btn {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.form__input-wrapper {
  flex-grow: 1;
}

.form__btn:hover {
  cursor: pointer;
}

.form__btn_disabled {
  opacity: 0.2;
  cursor: unset;
}

.form__btn_disabled:hover {
  cursor: unset;
  opacity: 0.2;
}

.form__error-message {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: #ff4062;
  margin: 0 0 10px;
}
